
* {
  font-family: helvetica;
}

body {
  margin: 0;
}

.nav-wrapper {
  background-color: black;
  height: 40px;
  box-shadow: 0px 4px 5px lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

input {
  border: none;
  padding: 2%;
  border-bottom: 1px solid lightgrey;
  margin-top: 2%;
  font-size: 0.8rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 7%;
}

button {
  width: 13%;
  height: 33px;
  margin-top: 4%;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.8rem;
  margin-left: 314px;
}

th {
  color: #ee6e73;
  text-align: left;
  border-bottom: 1px solid lightgrey;
}


tr {
  height: 35px;
}